<div class="container">
  <div class="empty"><br /><br /></div>
  <div class="row">
    {{#each posts as |post|}}
    <div class="col-4">

      <div class="title">
        <a href="{{text}}" target="_blank">{{title}}</a>
      </div>
      <div class="body">
        {{text}}
      </div>

    </div>
    {{/each}}
  </div>

</div>
